{% extends "base.html" %}

{% block content %}

  <section class="text-center inner-page-header">
    <h2>About Us</h2>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="{% url "home" %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">About Us</li>
      </ol>
    </nav>
  </section>

  <section class="about-inner">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <label class="line-title text-uppercase d-flex align-items-center gap-3"><span></span>Real Estate Solution</label>
          <h3 class="main-heading">Welcome To Highland Lakes</h3>
          <div class="about-content">
            <p>Our mission transcends mere financial transactions, delving into the very fabric of future living. At Highland Lakes, we don't just invest; we foresee, empower, and transform.</p>
            <p>Meet the Vanguard Our team is a collective of visionaries, each a master in their domain, yet united by a shared ambition to redefine the real estate and technology sectors. Their expertise spans from the intricate ballet of municipal infrastructure development to the pioneering frontiers of medical and energy innovation. This fusion of talent and foresight is the cornerstone upon which Highland Lakes stands.</p>
            <p>Our Sphere of Influence Real Estate Ventures Semi-Rural Housing Demands: Navigating the delicate balance between nature and development, we craft housing solutions that honor the serene spirit of semi-rural living.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="about-img text-end">
            <img src="/static/image/about-img.png" class="img-fluid"/>
          </div>
        </div>
      </div>
      <div class="row mt-5 mission_vission">
        <div class="col-md-6">
          <div class="vission d-flex align-items-center">
            <div class="mission-icon"><img src="/static/image/v-1.png"></div>
            <div class="">
              <h3 class="heading2">Vision</h3>
              <p>Our mission transcends mere financial transactions, delving into the very fabric of future living.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="vission d-flex align-items-center">
            <div class="mission-icon"><img src="/static/image/v-2.png"></div>
            <div class="">
              <h3 class="heading2">Mission</h3>
              <p>Every investment is a step towards a more sustainable, innovative, and prosperous world.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="reach text-center">
    <div class="join-us-content text-center position-relative">
      <h2>Join us in this journey of transformation, <br>where every investment</h2>
      <p>is a step towards a more sustainable, innovative, and prosperous world.</p>
      <div class="buttons-div">
        <a href="#" class="btn btn-white">Contact Us</a>
      </div>
    </div>
  </section>
  
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="about-img">
            <img src="/static/image/approch.png" class="img-fluid"/>
          </div>
        </div>
        <div class="col-md-6">
          <label class="line-title text-uppercase d-flex align-items-center gap-3"><span></span>Our Expertise</label>
          <h3 class="main-heading">We foresee, empower, and transform.</h3>
          <div class="about-content">
            <p>Our Sphere of InfluenceReal Estate Ventures Semi-Rural Housing Demands: Navigating the delicate balance between nature and development, we craft housing solutions that honor the serene spirit of semi-rural living.</p>
            <p><strong>Rental Solutions:</strong> Meeting the growing demand for multifamily housing through strategic development projects.</p>
            <p><strong>Municipal Infrastructure:</strong> Championing projects that not only enhance the community's fabric but also pave the way for sustainable growth.</p>
            <p><strong>Economy of Scale:</strong> Revolutionizing the housing sector by leveraging economies of scale to deliver dependable, cost-effective living solutions.</p>
            <p><strong>Pioneering Medical Research Funding Medical Breakthroughs:</strong> Channeling resources into medical technologies that promise not just to heal but to revolutionize health care.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}